<div class="marjina-goitik50">
<h3>
  PLATERAREN DETAILEAK
</h3>
<div class="container">
        <div>
            <a routerLink="/platera/{{platera.id}}"><img class="img-fluid" src="../assets/img/platerak/{{platera.imagen}}"></a>
        </div>
        <div>
            {{platera.nombre}}
        </div>
        <div class="float-left">
            <span class="badge" [ngClass]="platera.stock== 0 ? 'badge-danger' : (platera.stock > 0 && platera.stock <=15 ? 'badge-warning' : 'badge-primary')">                 
            Stock: {{platera.stock}}
            </span>
        </div>
        <div>
            {{platera.precio | currency:"€":1}}
        </div>
        <div>
            <div class="float-right">
                <button  (click)="PlateraGehitu(platera)" class="btn btn-laranja" data-target="#shopping-cart" data-toggle="collapse"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Karritoara gehitu</button>
            </div>
        </div>
</div>
</div>
