<div class="container">  
	<div class="shopping-cart" id="shopping-cart">    
		<div class="shopping-cart-header">      
			<i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>      			<div class="shopping-cart-total">        
				<span class="lighter-text">Total:</span>       
				 <span class="main-color-text">$2,229.97</span>      
			</div>    
		</div> 
		<!--end shopping-cart-header -->    
		<ul class="shopping-cart-items">        
			<li *ngFor="let item of platerak"  class="clearfix">             
				<img src="cart-item1.jpg" alt="item1" />             
				<span class="item__name">{{item.nombre}}</span>             
				<span class="item__price">{{item.precio}}</span>             
				<span class="item-quantity">Kantitatea: 01</span>       
			</li>    
		</ul>    
		<a href="#" class="button">Checkout</a>  
	</div> <!--end shopping-cart -->
</div> <!--end container -->

