/* You can add global styles to this file, and also import other style files */

.altuera50 {
    height: 50px;
}

.zabalera100 {
    width: 100%;
}
.btn-laranja {
	background-color: orange;
}
.zabalera25 {
    width: 25%;
}
.altuera30{
    height: 30%;
}
.zabalera50 {
    width: 50%;
}
.betegarria {
    padding-right: 40px;
    padding-bottom: 40px;
}
.marjina-goitik50 {
    margin-top: 50px;
}
.color-beltza {
    color: #000;
}
/*goiko menu nav aldatzen */
@media (min-width: 992px)
{#mainNav {
    border-color: rgba(255, 255, 255, 0.7);;
    background-color: rgba(255, 255, 255, 0.7);;
}}
@media (min-width: 992px)
{
#mainNav .navbar-brand {
    color: rgba(0, 0, 0, 0.7);
}
}
@media (min-width: 992px)
{
#mainNav .navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}
}
/* karritoaren estiloak */
.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position:absolute;
  top:40px;
  right: 20px;
  border-radius: 3px;
  padding: 20px;
}
  
.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}   
.shopping-cart-total {
      float: right;
}
.shopping-cart-items {
    padding-top: 20px;
}
.shopping-cart-items li {
    margin-bottom: 18px;
}
.shopping-cart-items img {
      float: left;
      margin-right: 12px;
}
    
.shopping-cart-items .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
}
    
.shopping-cart-items .item-price {
      color: blue;
      margin-right: 8px;
}
    
.shopping-cart-items .item-quantity {
      color: blue;
}
   

