<div class="container marjina-goitik50">
    <h3>
      PLATER BERRIEN FORMULARIOA
    </h3>
    <form>
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Izena</label>
                <input type="text" class="form-control" id="nombre" placeholder="Izena sartu" [(ngModel)]="platera.nombre" name="nombre">
              </div>
                <div class="form-group">
                <label>Salneurria</label>
                <input type="text" class="form-control" id="precio" placeholder="Salneurria sartu" [(ngModel)]="platera.precio" name="precio">
              </div>
                <div class="form-group">
                <label>Irudia</label>
                <input type="text" class="form-control" id="imagen" placeholder="Irudia sartu" [(ngModel)]="platera.imagen" name="imagen">
              </div>
                <div class="form-group">
                <label>Stock</label>
                <input type="text" class="form-control" id="stock" placeholder="Stock sartu" [(ngModel)]="platera.stock" name="stock">
              </div>
                <div class="form-group">
                <label>Data</label>
                <input type="text" class="form-control" id="data" placeholder="Data sartu" [(ngModel)]="platera.data" name="data">
              </div>
              
              <button type="submit" (click)= "PlateraBerria()" class="btn btn-primary">Sortu</button>
            </div>
        </div>
    </form>
</div>
