<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
    			<div class="col-lg-10 mx-auto">            
    				<h1> <strong>Fresh, healthy, and delicious, delivered to your door.</strong> </h1>            
    				<hr>          
    			</div>          
    			<div class="col-lg-8 mx-auto">            
    				<p class="text-faded mb-5">Chef-crafted | Cooked from scratch | All-natural</p>                        
    				<form name="menuaAukeratu" id="menuaAukeratu">                
    					<div class="row">                    
    						<div class="form-group col-md-8">                        
    							<input type="email" class="form-control altuera50" id="Email" placeholder="Email">                    						</div>                    
    						<div class="form-group col-md-4">                        
    							<input type="text" class="form-control altuera50" id="Zip" placeholder="ZIP Code">                    						</div>                
    					</div>                
    					<div>                    
    						<a routerLink="menua" class="btn btn-laranja btn-xl page-scroll altuera50 zabalera100">SEE THE MENU</a>                
    					</div>              
    				</form>                    
    			</div>        
        </div>
      </div>
    </header>


    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">What real food means to us</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="../assets/img/chef.png">
              <h5 class="mb-3">REAL CHEFS</h5>
              <p class="text-muted mb-0">Our chefs are the talent behind every dish we serve. Innovators, artists, and James Beard Award winners, they handcraft every dish from scratch — and give our food its restaurant-caliber wow-factor</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="../assets/img/ingrediente.png">
              <h5 class="mb-3">REAL INGREDIENTS</h5>
              <p class="text-muted mb-0">We source our ingredients for more than just exceptional freshness and taste. We partner with local farmers who specialize in seasonal, all-natural, and organic produce, offer antibiotic-free meats, and use wild-caught fish whenever possible, to ensure quality in every dish.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="../assets/img/nutrition.png">
              <h5 class="mb-3">REAL NUTRITION</h5>
              <p class="text-muted mb-0">Our nutritionist-reviewed dishes are designed to meet your macronutrient needs and support your healthy lifestyle — so you can eat clean, and feel good about cleaning your plate.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="./../assets/img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="./../assets/img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="./../assets/img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="./../assets/img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="./../assets/img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="./../assets/img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="./../assets/img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="./../assets/img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="./../assets/img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="./../assets/img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="./../assets/img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="./../assets/img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
