<div class="container marjina-goitik50 ">
    <h3>
      PLATERAK KUDEATZEKO ORRIA
    </h3>
    <a routerLink="/berria" class="btn btn-laranja color-beltza">BERRIA</a>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Izena</th>
              <th>Stock</th>
              <th>Precio</th>
              <th>Imagen</th>
              <th>Data</th>
              <th>Kudeaketa</th>
            </tr>
          </thead>
      <tbody>
        <tr *ngFor="let platera of platerak">
            <td>
                {{platera.nombre}}
            </td>
            <td>
                {{platera.stock}}
            </td>
            <td>
                {{platera.precio}}
            </td>
            <td>
                {{platera.imagen}}
            </td>
            <td>
                {{platera.data}}
            </td>
            <td>
                <a routerLink="/aldatu/{{platera._id}}" class="btn btn-laranja color-beltza">ALDATU</a>
                <button (click)="PlateraEzabatu(platera._id)" class="btn btn-laranja">
                    Ezabatu
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
