<h3>
  MAIN DISHES
</h3>
<p>
    From our kitchen, ready to heat
</p>
<div class="container">
    <div *ngFor="let platera of platerak" class="zabalera25 betegarria d-inline-block">
        <div>
            <a routerLink="/platera/{{platera._id}}"><img class="img-fluid" src="../assets/img/platerak/{{platera.imagen}}"></a>
        </div>
        <div>
            {{platera.nombre}}
        </div>
        <div class="float-left">
            <span class="badge" [ngClass]="platera.stock== 0 ? 'badge-danger' : (platera.stock > 0 && platera.stock <=15 ? 'badge-warning' : 'badge-primary')">                 
            Stock: {{platera.stock}}
            </span>
        </div>
        <div>
            {{platera.precio | currency:"€":1}}
        </div>
        <div>
            <div class="float-right">
                <button  (click)="PlateraGehitu(platera)" class="btn btn-laranja" data-target="#shopping-cart" data-toggle="collapse"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Karritoara gehitu</button>
            </div>
        </div>
    </div>

</div>

